@use './functions' as func;
@use './variables' as var;

$bottom:  func.toRem(0);
$color:   var.$sk-green;
$height:  func.toRem(3);

@mixin border-bottom-animated() {
  &::before {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    content: "";
    bottom: $bottom;
    background-color: $color;
    height: $height;
    display: block;
    left: 50%;
    width: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
  &:hover::before { 
    width: 100%; 
    left: 0;
  }
}

@mixin active-page() {
  &::before {
    background: none repeat scroll 0 0 transparent;
    position: absolute;
    content: "";
    bottom: $bottom;
    background-color: $color;
    height: $height;
    display: block;
    left: 0;
    width: 100%;
  }
}
