@use "sass:map";
// prefix sk = samtalscentret kraftkällan

$sk-green: #007A35;
$sk-green-hsl: ("h": 146, "s": 100%, "l": 24%); // hsl(146, 100%, 24%)

$sk-lightgreen: #B8D587;

$sk-white: #ffffff;

$sk-gray-50: #f3f3f3;
$sk-gray-50-hsl: (
  "h": 0,
  "s": 0%,
  "l": 95%  
);
$sk-gray-100: #d8d8d8;
$sk-gray-200: #b2b2b2;
$sk-gray-300: #8e8e8e;
$sk-gray-400: #6b6b6b;
$sk-gray-500: #505050;
$sk-gray-600: #363636;
$sk-gray-700: #1e1e1e;

$sk-gray-black: #000000;

$sk-gap: 32px;
$sk-gap-number: 32;