// prefix sk = samtalscentret kraftkällan

$sk-green: #007A35;
$sk-lightgreen: #B8D587;

// $sk-gray-300: #6B6B6B

$sk-white: #ffffff;

$sk-gray-50: #f3f3f3;
$sk-gray-100: #d8d8d8;
$sk-gray-200: #b2b2b2;
$sk-gray-300: #8e8e8e;
$sk-gray-400: #6b6b6b;
$sk-gray-500: #505050;
$sk-gray-600: #363636;
$sk-gray-700: #1e1e1e;

$sk-gray-black: #000000;