@use "sass:string";
@use "sass:map";
@use "sass:math";

@use './abstracts/variables' as var;
@use './abstracts/functions' as func;
@use './abstracts/mixins' as mix;

$bulmaPath: "../../node_modules/bulma/";

$family-primary: "Open Sans";
$family-secondary: "Roboto Slab";

// Override global Sass variables from the /utilities folder
@use "../../node_modules/bulma/sass/utilities" as utils with (
  $class-prefix: "sk-", // samtalscentret kraftkällan => sk
  $cssvars-prefix: "sk-",
  $grey-dark: var.$sk-gray-600,
  $grey-light: var.$sk-gray-100,
  $primary: var.$sk-green,
  $link: var.$sk-green,
  $control-border-width: 2px,
  $gap: var.$sk-gap,
);

@use "../../node_modules/bulma/sass/utilities/mixins.scss" as bulma-mixins;

// Base
@forward "../../node_modules/bulma/sass/base";
@forward "../../node_modules/bulma/sass/grid";

// Elements
@forward "../../node_modules/bulma/sass/elements/title.scss";
@use "../../node_modules/bulma/sass/elements/content.scss" with (
  $content-heading-color: var.$sk-green
);

// Form
@forward "../../node_modules/bulma/sass/form/index";

// Components
@use "../../node_modules/bulma/sass/components/navbar" with (
  $navbar-background-color: var.$sk-gray-50,
  $navbar-item-color: var.$sk-green,
  $navbar-dropdown-item-h: map.get(var.$sk-green-hsl, "h"),
  $navbar-dropdown-item-s: map.get(var.$sk-green-hsl, "s"),
  $navbar-dropdown-item-l: map.get(var.$sk-green-hsl, "l"),
  $navbar-tab-active-color: var.$sk-green,
  $navbar-tab-active-background-color: var.$sk-gray-50,
  $navbar-tab-active-border-bottom-color: var.$sk-green,
  $navbar-tab-active-border-bottom-style: solid,
  $navbar-tab-active-border-bottom-width: func.toRem(3),
  $navbar-item-selected-h: map.get(var.$sk-gray-50-hsl, "h"),
  $navbar-item-selected-s: map.get(var.$sk-gray-50-hsl, "s"),
  $navbar-item-selected-l: map.get(var.$sk-gray-50-hsl, "l"),
  $navbar-item-selected-background-l: 90%,
  $navbar-item-selected-color-l: map.get(var.$sk-gray-50-hsl, "l"),
);
@use "../../node_modules/bulma/sass/components/card.scss";

// Layout
@forward "../../node_modules/bulma/sass/layout/container";
@use "../../node_modules/bulma/sass/layout/footer.scss" with (
  $footer-background-color: var.$sk-gray-50
);

// Themes
@forward "../../node_modules/bulma/sass/themes";

// Helpers
@forward "../../node_modules/bulma/sass/helpers/visibility.scss";
@forward "../../node_modules/bulma/sass/helpers/flexbox.scss";

// Import the Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap');


.sk-header {  
  background-color: var.$sk-gray-50;
  padding: 1rem;
}

a.sk-navbar-item {
  position: relative;
  
  // Border bottom animated on hover
  &:not(.sk-is-active) {
    @include mix.border-bottom-animated(); 
  }

  // Border bottom on active page
  &.sk-is-active {
    @include mix.active-page();
  }
}

.sk-main {
  margin-top: func.toRem(calc(var.$sk-gap-number * 1.5));
  margin-bottom: func.toRem(calc(var.$sk-gap-number * 1.5)) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: $family-secondary;
}

.sk-site-footer {
  margin-top: func.toRem(45);

  h2 {
    font-size: 1.25em;
  }
}

// @debug utils.$tablet;

.sk-padding {
  // sk-padding-from-desktop--default
  &-from-desktop {
    &--default {      
      @include bulma-mixins.from(utils.$desktop) {
        padding: {
          left: func.toRem(math.div(var.$sk-gap-number,2));
          right: func.toRem(math.div(var.$sk-gap-number,2));  
        }
      }
    }
  }
  

  // sk-padding--default
  &--default {
    padding: {
      left: func.toRem(math.div(var.$sk-gap-number,2));
      right: func.toRem(math.div(var.$sk-gap-number,2));
    }
  }
}
